/* fonts files */
.title-base {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.text-base {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

/*colors*/
@text-base-color: #737373;
@title-color: #00a1eb;
@bg-base: #00a1eb;
@text-color: #fff;
@btn-bg: #fff;
@coppyright-bg: #000;
@arrows-bg: #fff;