.about {
  padding: 90px 0;

  &__title {
    position: relative;
    margin-bottom: 50px;
    .title-base;
    font-size: 34px;
    color: @title-color;
  }

  &__title:after {
    position: absolute;
    content: '';
    bottom: -25px;
    display: block;
    width: 84px;
    height: 1px;
    background: @text-base-color;
  }

  &__phone {
    margin-bottom: 25px;
    .title-base;
    font-size: 22px;
    color: @title-color;
  }

  &__btn {
    line-height: 18px;
  }

  &__market {
    position: relative;
    text-align: right;
  }
}

.market {

  &__img {
    width: 100%;
    max-width: 600px;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    right: 45px;
    .title-base;
    font-size: 22px;
    color: @title-color;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 40px 0;
    text-align: center;

    &__title:after {
      left: 50%;
      margin-left: -42px;
    }

    &__btn {
      margin-bottom: 20px;
    }

    &__market {
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  .about {

    &__title {
      font-size: 26px;
      margin-bottom: 30px;
    }

    &__title:after {
      bottom: -15px;
    }

    &__phone {
      font-size: 18px;
    }
  }
}